body
{
    background-color: #3FA2F6;
}
.button-container {
    margin-bottom: 20px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
#main{
    display: inline-flex;
}
.hr2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.button-container button
{
    height:150px;
    width:230px;
    border:3px solid rgb(77, 77, 240);
    border-radius:50px;
}
#image1
{
    background-image: url("icecream1.webp");
    background-size: cover;
    opacity: 0.75;
    font-size:25px;
    color: black;
    font-weight: 900;
}
#image2
{
    background-image: url("scoop.webp");
    background-size: cover;
    opacity: 0.75;
    font-size:25px;
    color: black;
    font-weight: 900;
}
#image3
{
    background-image: url("doogie.webp");
    background-size: cover;
    opacity: 0.75;
    font-size:25px;
    color: black;
    font-weight: 900;
}
#image4
{
    background-image: url("core_ice.webp");
    background-size: cover;
    opacity: 0.75;
    font-size:25px;
    color: black;
    font-weight: 900;
}
#image5
{
    background-image: url("topped.webp");
    background-size: cover;
    opacity: 0.75;
    font-size:40px;
    color: rgb(251, 247, 247);
    font-weight: 900;
}
/* #image1:hover,#image2:hover,#image3:hover,#image4:hover,#image5:hover
{
    opacity:0.4 !important;
} */
.menu{
    text-align: center;
    /* margin-top:600px; */
    width:50%;
    margin-top:10px;
    /* margin-left:200px; */
    height:500px;
    background-color: rgb(161, 157, 241);
    border-radius: 20px;
    float: inline-block;
    padding:0px;
}
.img{
    margin-top: 10px;
    margin-left: 10px;
    width:250px;
    height:200px;
    border-radius: 50%;
}
.img:hover
{
    scale: 1.1;
}
.menu h4{
    text-align: center;
}
.menu i:hover{
    font-size: 40px;


}
.image1{
    text-align: center;
}
#content
{
    display:flex ;
}
.card1
{
    margin-left: 300px;
}

#hr
{
    transform: translate(300px,300px);
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;

}
#hr1
{
    color: blueviolet;
    font-size: 70px;
    font-weight: 900;
}
.h2:hover
{
    color: rgb(115, 17, 50);
}
.animate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-left: -220px;
    margin-top: -220px;
    font-family: Arial, sans-serif;
    background-color: #3FA2F6;
    overflow: hidden;
    position: relative;
    width: 1600px;
}

h1 {
    font-size: 36px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'ChunkFive', sans-serif;
    
}

.cow {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#cowImage {
    width: 200px;
    height: 200px;
}

.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: green;
}

.icecream 
    {
        position: absolute;
    }
    
    .top-right {
        top: 60px;
        right: 40px;
    }
    
    .center-right {
        top: 15%;
        left: 300px;
        transform: translateY(-50%);
    }
    
    .icecreamImage {
        width: 200px;
        height:200px;
    }

.house
{margin-left: 75%;
    margin-top: 30%;}
#houseImage
{
    
    height: 350px;
    width: 350px;;
}
