body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 100px;
    margin: auto;
}

.gallery img {
    width: calc(33.33% - 10px);
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .gallery img {
        width: calc(50% - 10px);
    }
}
